    <!-- Food Menu section  S T A R T -->
    <section class="food-menu-section fix section-padding">
        <div class="burger-shape">
            <img src="/img/shape/burger-shape.png" alt="img">
        </div>
        <div class="fry-shape">
            <img src="/img/shape/fry-shape.png" alt="img">
        </div>
        <div class="food-menu-wrapper style1">
        <div class="shape1 d-none d-xxl-block"><img src="/img/shape/popularDishesShape1_1.png" alt="shape">
            </div>
            <div class="shape2 float-bob-y d-none d-xxl-block"><img src="/img/shape/popularDishesShape1_2.png"
                    alt="shape"></div>
                <div class="food-menu-tab-wrapper style-bg">
                    <div class="title-area">
                        <div class="sub-title text-center wow fadeInUp" data-wow-delay="0.5s">
                            <img class="me-1" src="/img/icon/titleIcon.svg" alt="icon">FOOD MENU<img class="ms-1"
                                src="/img/icon/titleIcon.svg" alt="icon">
                        </div>
                        <h2 class="title wow fadeInUp" data-wow-delay="0.7s">
                            Foods Menu
                        </h2>
                    </div>


                    <div class="food-menu-tab">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-FastFood-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-FastFood" type="button" role="tab"
                                    aria-controls="pills-FastFood" aria-selected="true"><img
                                        src="/img/menu/menuIcon1_1.png" alt="icon">Fast Food</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-drinkJuice-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-drinkJuice" type="button" role="tab"
                                    aria-controls="pills-drinkJuice" aria-selected="false"><img
                                        src="/img/menu/menuIcon1_2.png" alt="icon">Drink & Juice</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-chickenPizza-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-chickenPizza" type="button" role="tab"
                                    aria-controls="pills-chickenPizza" aria-selected="false"><img
                                        src="/img/menu/menuIcon1_3.png" alt="icon">Chicken Pizza</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-freshPasta-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-freshPasta" type="button" role="tab"
                                    aria-controls="pills-freshPasta" aria-selected="false"><img
                                        src="/img/menu/menuIcon1_4.png" alt="icon">Fresh Pasta</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-drinkJuice-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-drinkJuice" type="button" role="tab"
                                    aria-controls="pills-drinkJuice" aria-selected="false"><img
                                        src="/img/menu/menuIcon1_2.png" alt="icon">Drink & Juice</button>
                            </li>
                             <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-FastFood-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-FastFood" type="button" role="tab"
                                    aria-controls="pills-FastFood" aria-selected="true"><img
                                        src="/img/menu/menuIcon1_1.png" alt="icon">Fast Food</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-chickenPizza-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-chickenPizza" type="button" role="tab"
                                    aria-controls="pills-chickenPizza" aria-selected="false"><img
                                        src="/img/menu/menuIcon1_3.png" alt="icon">Chicken Pizza</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-FastFood" role="tabpanel" aria-labelledby="pills-FastFood-tab">
                        <div class="food-title">
                        <h2 class="">Fast Food</h2>
                        </div>
                        <div class="dishes-card-wrap style1">
                        
                    <div class="dishes-card style1">
                            <div class="social-profile">
                                <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                <ul>
                                    <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="dishes-thumb">
                                <img src="/img/dishes/dishes1_3.png" alt="thmb">
                            </div>
                            <a href="/menu">
                                <h3>Chicken Pizza</h3>
                            </a>
                            <p>The registration fee</p>
                            <h6>$26.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_1.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Fried Rice</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$100.99</h6>
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_2.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chinese Pasta</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$15.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_4.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Noodles</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$39.00</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="wishlist.html"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_5.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Grilled Chicken</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$20.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_3.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Pizza</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$26.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_1.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Fried Rice</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$100.99</h6>
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_2.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chinese Pasta</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$15.99</h6>
                    </div>
                    
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_4.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Noodles</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$39.00</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="wishlist.html"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_5.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Grilled Chicken</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$20.99</h6>
                    </div>
                                </div>
                            </div>
                           
                            <div class="tab-pane fade" id="pills-drinkJuice" role="tabpanel" aria-labelledby="pills-drinkJuice-tab" tabindex="0">
                            <div class="food-title">
                                <h2 class="">Drink & Juice</h2>
                            </div>
                            <div class="dishes-card-wrap style1">
                                <div class="dishes-card style1">
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="wishlist.html"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_5.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Grilled Chicken</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$20.99</h6>
                                </div>
                                <div class="dishes-card style1">
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_1.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Chicken Fried Rice</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$100.99</h6>
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dishes-card style1">
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_2.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Chinese Pasta</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$15.99</h6>
                                </div>
                                <div class="dishes-card style1">
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_3.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Chicken Pizza</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$26.99</h6>
                                </div>
                                
                                <div class="dishes-card style1">
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_4.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Chicken Noodles</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$39.00</h6>
                                </div>
                                <div class="dishes-card style1">
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="wishlist.html"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_5.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Grilled Chicken</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$20.99</h6>
                                </div>
                                <div class="dishes-card style1">
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_1.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Chicken Fried Rice</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$100.99</h6>
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dishes-card style1">
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_2.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Chinese Pasta</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$15.99</h6>
                                </div>
                                <div class="dishes-card style1">
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_3.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Chicken Pizza</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$26.99</h6>
                                </div>
                                
                                <div class="dishes-card style1">
                                    <div class="social-profile">
                                        <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                                        <ul>
                                            <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="dishes-thumb">
                                        <img src="/img/dishes/dishes1_4.png" alt="thmb">
                                    </div>
                                    <a href="/menu">
                                        <h3>Chicken Noodles</h3>
                                    </a>
                                    <p>The registration fee</p>
                                    <h6>$39.00</h6>
                                </div>
                                
                            </div>
                            </div>
                            <div class="tab-pane fade" id="pills-chickenPizza" role="tabpanel" aria-labelledby="pills-chickenPizza-tab" tabindex="0">
                        <div class="food-title">
                            <h2 class="">Chicken Pizza</h2>
                        </div>
                <div class="dishes-card-wrap style1">
                    <div class="dishes-card style1">
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_1.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Fried Rice</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$100.99</h6>
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_2.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chinese Pasta</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$15.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_3.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Pizza</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$26.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_4.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Noodles</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$39.00</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="wishlist.html"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_5.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Grilled Chicken</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$20.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_1.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Fried Rice</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$100.99</h6>
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_2.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chinese Pasta</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$15.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_3.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Pizza</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$26.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_4.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Noodles</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$39.00</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="wishlist.html"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_5.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Grilled Chicken</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$20.99</h6>
                    </div>
                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-freshPasta" role="tabpanel" aria-labelledby="pills-freshPasta-tab" tabindex="0">
                        
                        <div class="food-title">
                            <h2 class="">Fresh Pasta</h2>
                        </div>
                        <div class="dishes-card-wrap style1">
                    
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_2.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chinese Pasta</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$15.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_1.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Fried Rice</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$100.99</h6>
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_3.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Pizza</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$26.99</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="#"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_4.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Chicken Noodles</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$39.00</h6>
                    </div>
                    <div class="dishes-card style1">
                        <div class="social-profile">
                            <span class="plus-btn"> <a href="wishlist.html"> <i class="fa-regular fa-heart"></i></a></span>
                            <ul>
                                <li><a href="/cart"><i class="fa-regular fa-basket-shopping-simple"></i></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-light fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="dishes-thumb">
                            <img src="/img/dishes/dishes1_5.png" alt="thmb">
                        </div>
                        <a href="/menu">
                            <h3>Grilled Chicken</h3>
                        </a>
                        <p>The registration fee</p>
                        <h6>$20.99</h6>
                    </div>
                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
        </div>
        <div class="marquee-wrapper style-1 text-slider section-padding pt-0 mt-5">
            <div class="marquee-inner to-left">
                <ul class="marqee-list d-flex">
                    <li class="marquee-item style1">
                        <span class="text-slider"></span><span class="text-slider text-style">chicken pizza</span>
                        <span class="text-slider"></span><span class="text-slider text-style">GRILLED CHICKEN</span>
                        <span class="text-slider"></span><span class="text-slider text-style">BURGER</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CHICKEN PIZZA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">FRESH PASTA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">ITALIANO FRENCH FRY</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CHICKEN FRY</span>
                        <span class="text-slider"></span><span class="text-slider text-style">chicken pizza</span>
                        <span class="text-slider"></span><span class="text-slider text-style">GRILLED CHICKEN</span>
                        <span class="text-slider"></span><span class="text-slider text-style">BURGER</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CHICKEN PIZZA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">FRESH PASTA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">ITALIANO FRENCH FRY</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CHICKEN FRY</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
