<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="gramentheme">
    <meta name="description" content="Fresheat food & Restaurant Html Template">
    <!-- ======== Page title ============ -->
    <title>Fresheat food & Restaurant Html Template</title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="/img/favicon.png">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="/css/nice-select.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="/css/main.css">
</head>

