<div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index.html">
                                <img src="/img/logo/n1.png" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    
                    
                        <nav class="menu_ber">
                            <ul class="main_menu">
                                <li class="subMenu_parent">
                                    <a class="singleMenu_link" href="/"><div>Home</div>  </a>
                                </li>
                                 <li class="subMenu_parent">
                                    <a class="singleMenu_link" href="/menu"><div>Menu</div>   <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="subMenu">
                                        <li class="singleMenu">
                                    <a class="singleMenu_link" href="#"><div>Menu 1</div>   <i class="fa-solid fa-angle-down"></i></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="subMenu_parent">
                                    <a class="singleMenu_link" href="/delivery"><div>Delivery</div>  </a>
                                </li>
                                <li class="subMenu_parent">
                                    <a class="singleMenu_link" href="/gallery"><div>Gallery</div>  </a>
                                </li>
                                <li class="subMenu_parent">
                                    <a class="singleMenu_link" href="/contact"><div>Contact Us</div>  </a>
                                </li>
                            </ul>

                        </nav>
                    
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+013-003-003-9993"><span
                                            class="mailto:info@enofik.com">info@fresheat.com</span></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">+11002345909</a>
                                </div>
                            </li>
                        </ul>
                        <div class="header-button mt-4">
                            <a href="/menu" class="theme-btn">
                                <span class="button-content-wrapper d-flex align-items-center justify-content-center">
                                    <span class="button-icon"><i
                                            class="fa-sharp fa-regular fa-cart-shopping bg-transparent text-white me-2"></i></span>
                                    <span class="button-text">ORDER NOW</span>
                                </span>
                            </a>
                        </div>
                        <div class="header-button mt-4">
                            <a href="/login" class="theme-btn">
                                <span class="button-content-wrapper d-flex align-items-center justify-content-center">
                                    <span class="button-icon"><i
                                            class="fa-sharp fa-regular fa-cart-shopping bg-transparent text-white me-2"></i></span>
                                    <span class="button-text">Login</span>
                                </span>
                            </a>
                        </div>
                        <div class="social-icon d-flex align-items-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>