@use "mixins";
@use "variables";



.header-top-wrapper {
	position: relative;
    @include mixins.flex;
    justify-content: space-between; 
	padding: 10px 50px;
	background-image: url(../img/bg/headerTopBg.png);
	background-repeat: no-repeat; 
	background-position: center; 
	clip-path: polygon(1110px 0px, 100% 0px, 100% 50px, 100% calc( 100% - 49px), 100% 100%, 199px 100%, 27px 100%, 38px 0px);

	@include mixins.breakpoint (max-xxxl) {
		background-color: variables.$theme-color;
		background-image: none;
		clip-path: none;
	}

	@include mixins.breakpoint (max-xl) {
		display: none;
	}

	@media (min-width: 2000px) {
		clip-path: none;
		background-image: none;
		background-color: variables.$theme-color;
	}

    span {
        color: rgba(255, 255, 255, .8);
        i {
            color: variables.$white;
            margin-right: 5px;
        }
    }

    .social-icon {
        gap: 17px;

        a {
            color: variables.$white;

            &:hover {
                color: variables.$theme-color;
            }
        }
    }
}

.header-top-wrapper-2 {
	position: relative;
    @include mixins.flex;
    justify-content: space-between; 
	padding: 10px 50px; 
	@include mixins.breakpoint (max-xl4) {
		background-color: variables.$theme-color;
		background-image: none;
		clip-path: none;
		.top-text {
			font-size: 0.7rem;
		}
	}

	@include mixins.breakpoint (max-xl) {
		display: none;
	}



    span {
        color: rgba(255, 255, 255, .8);
        i {
            color: variables.$white;
            margin-right: 5px;
        }
    }

    .social-icon {
        gap: 17px;

        a {
            color: variables.$white;

            &:hover {
                color: variables.$theme-color;
            }
        }
    } 
}

.header-top-section {
	position: relative;
	z-index: 9;
	
	@include mixins.breakpoint (max-sm){
		display: none;
	}

    .container-fluid {
        padding: 0 150px;

		@include mixins.breakpoint (max-xl4){
			padding: 0 50px;
		}

		@include mixins.breakpoint (max-xxxl){
			padding: 0 40px;
		}

		@include mixins.breakpoint (max-xl){
			padding: 0 20px;
		}
    }
}

.header-section {
	position: relative;
	background-color: variables.$white;
	z-index: 99;

	.black-bg{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 200px;
		height: 146px;
		background-color: variables.$title-color;
		z-index: 9;

		@media (max-width:1760px) {
			width: 85px;
		}

		@include mixins.breakpoint (max-xxxl) { 
			width: 50px;
		}
		@include mixins.breakpoint (max-xl) { 
			display: none;
		}

	}
	.red-bg{
		position: absolute;
		top: 0;
		right: 0;
		width: 200px;
		height: 48px;
		background-color: variables.$theme-color;
		z-index: 99;

		@media (max-width:1760px) {
			width: 85px;
		}
		
		@include mixins.breakpoint (max-xxxl) { 
		 width: 51px;
		}
		@include mixins.breakpoint (max-xl) { 
			display: none;
		}
	}
    .container-fluid {
        // padding: 0 150px;
		padding-left: 100px;
		padding-right: 0px;

		@include mixins.breakpoint (max-xl4){
			// padding: 0 50px;
			padding-left: 50px;
			padding-right: 0px;
		}

		@include mixins.breakpoint (max-xxxl){
			// padding: 0 40px;
			padding-left: 60px;
			padding-right: 0px;
		}

		@include mixins.breakpoint (max-xl){
			// padding: 0 30px;
			padding-left: 30px;
			padding-right: 0px;
		}
    }
}

.header-section-2 {
	position: relative;
	background-color: variables.$title-color;
	z-index: 99;
		background-image: url(../img/bg/header2Bg.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

	@media (min-width: 2200px) {
		background-image: none!important;
		.header-top-wrapper-2 {
			background: variables.$theme-color;
		}
		.header-top-wrapper-2 span {
			color: variables.$white!important;
		}
		.header-2 .header-main .main-menu ul li a {
			color: variables.$white;
		}
		.sticky.header-2 {
			 .header-main .main-menu ul li a {
				color: variables.$title-color;
			}
		}
	}

	@include mixins.breakpoint (max-xl4) {
		background-image: none;
	}
 
    .container-fluid {
        padding: 0 136px;

		@include mixins.breakpoint (max-xl4){
			padding: 0 50px;
		}

		@include mixins.breakpoint (max-xxxl){
			padding: 0 40px;
		}

		@include mixins.breakpoint (max-xl){
			padding: 0 30px;
		}

		@include mixins.breakpoint (max-md) {
			padding: 0 15px;
		}
    } 
}

.header-section-3 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: transparent;
	z-index: 99;
	.main-header-wrapper{ 
		.logo-image {
			padding: 0 100px 0 120px;
			background-color: transparent;

			@include mixins.breakpoint (max-xxl) {
				padding: 0 30px 0 50px;
			}
		}
	}
 
	.header-main {
		.sidebar__toggle {
			cursor: pointer;
			font-size: 40px;
			color: var(--text);
		}
	}
	.black-bg{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 200px;
		height: 146px;
		background-color: variables.$title-color;
		z-index: 9;

		@include mixins.breakpoint (max-xxxl) { 
			width: 50px;
		}
		@include mixins.breakpoint (max-xl) { 
			display: none;
		}
	}
	.red-bg{
		position: absolute;
		top: 0;
		right: 0;
		width: 200px;
		height: 48px;
		background-color: variables.$theme-color;
		z-index: 99;

		@include mixins.breakpoint (max-xxxl) { 
		 width: 51px;
		}
		@include mixins.breakpoint (max-xl) { 
			display: none;
		}
	}
    .container-fluid {
        padding: 0 100px 0 120px;

		@include mixins.breakpoint (max-xl4){
			padding: 0 50px;
		}

		@include mixins.breakpoint (max-xxxl){
			padding: 0 40px;
		}

		@include mixins.breakpoint (max-xl){
			padding: 0 30px;
		}
    }
}

.main-header-wrapper {
    @include mixins.flex; 

	@include mixins.breakpoint (max-xl4){
		gap: 70px;
	}

	@include mixins.breakpoint (max-xxxl){
		gap: 40px;
	}
	@include mixins.breakpoint (max-xxl){
		gap: 30px;
	}
	@include mixins.breakpoint (max-xl){
		padding: 15px 0;
	}
	@include mixins.breakpoint (max-md) {
		gap: 10px;
	}

	.logo-image{    
		// padding: 35px 30px 43px 50px;
		background-color:variables.$white;
		width: 100px;
		// padding: 10px 0; 
		position: relative;
		
		img{
			width: 100%;
		}

	.hours24 {
		position: absolute;
		top: 0%;
		left: -95%;
		width: 80px;
		@media (max-width: 992px) {
        top: -45% !important;
        left: 100% !important;
		z-index: 10;
}
		img{
			    width: 100%;
    			object-fit: cover;
		}
	}
		// @include mixins.breakpoint (max-xxxl) {
		// 	padding: 35px 30px 43px 30px;
		// }
		@include mixins.breakpoint (max-xxl) {
			// padding: 35px 0px;
			padding: 0px 0px;
		}
		@include mixins.breakpoint (max-xl) {
			padding: 0px;
		}
	}
    .main-header-items {
        width: 100%;
        .header-contact-info-area {
            @include mixins.flex;
            justify-content: space-between;
            padding: 0 50px;
            border: 1px solid #D4DCED;

			@include mixins.breakpoint (max-xxxl){
				padding: 0 30px;
			}

			@include mixins.breakpoint (max-xl){
				display: none;
			}
        
        
            @include mixins.breakpoint (max-sm){
                gap: 30px;
            }
        
            .contact-info-items {
                @include mixins.flex;
                gap: 20px;
                justify-content: space-between;
                position: relative;
                padding: 30px 0;
                border-right: 1px solid #D4DCED;
                padding-right: 50px;

				@include mixins.breakpoint (max-xxl){
					border-right: none;
					padding-right: 0;
				}
        
                .icon {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    position: relative;
                    background-color:  variables.$white;
                    border-radius: 50%;
                    color: variables.$theme-color;
                    box-shadow: (0px 4px 25px rgba(0, 0, 0, 0.06));
                    position: relative;

					@include mixins.breakpoint (max-xxl){
						width: 30px;
						height: 30px;
						line-height: 30px;
					}

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 64px;
                        height: 64px;
                        content: "";
                        background-color: transparent;
                        border-radius: 50%;
                        border: 1px solid rgba(30, 32, 35, 0.10);
                        transform: translate(-50%,-50%);

						@include mixins.breakpoint (max-xxl){
							width: 54px;
							height: 54px;
						}
                    }
                }
        
                .content {
                    p {
                        color: variables.$text-color;
                        margin-bottom: 5px;
                        text-transform: capitalize;
                        font-size: 14px;
                        font-weight: 500;
                        opacity: 0.7;
                    }
        
                    h3 {
                        font-size: 20px;
                        color: variables.$title-color;
                        text-transform: initial;

						@include mixins.breakpoint (max-xxxl){
							font-size: 18px;
						}
        
                        a {
                            color: variables.$title-color;
                        }
                    }
                }

                &.style-2 {
                    border: none;
                    padding-right: 0;
                }
            }

			.header-button {
				.theme-btn {
					@include mixins.breakpoint (max-xxxl){
						font-size: 14px;
						padding: 24px 27px;
					}
				}
			}
        }
    }
}


.main-header-wrapper-2 {
    @include mixins.flex; 

	@include mixins.breakpoint (max-xl4){
		gap: 70px;
	}

	@include mixins.breakpoint (max-xxxl){
		gap: 40px;
	}
	@include mixins.breakpoint (max-xxl){
		gap: 30px;
	}
	@include mixins.breakpoint (max-xl){
		padding: 15px 0;
	}
	@include mixins.breakpoint (max-md) {
		gap: 10px;
	}

	.logo-image{    
		padding: 35px 30px 43px 50px; 
		
		@include mixins.breakpoint (max-xxxl) {
			padding: 35px 30px 43px 30px;
		}
		@include mixins.breakpoint (max-xxl) {
			padding: 35px 0px;
		}
		@include mixins.breakpoint (max-xl) {
			padding: 0px;
		}
	}
    .main-header-items {
        width: 100%;
        .header-contact-info-area {
            @include mixins.flex;
            justify-content: space-between;
            padding: 0 50px;
            border: 1px solid #D4DCED;

			@include mixins.breakpoint (max-xxxl){
				padding: 0 30px;
			}

			@include mixins.breakpoint (max-xl){
				display: none;
			}
        
        
            @include mixins.breakpoint (max-sm){
                gap: 30px;
            }
        
            .contact-info-items {
                @include mixins.flex;
                gap: 20px;
                justify-content: space-between;
                position: relative;
                padding: 30px 0;
                border-right: 1px solid #D4DCED;
                padding-right: 50px;

				@include mixins.breakpoint (max-xxl){
					border-right: none;
					padding-right: 0;
				}
        
                .icon {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    position: relative;
                    background-color:  variables.$white;
                    border-radius: 50%;
                    color: variables.$theme-color;
                    box-shadow: (0px 4px 25px rgba(0, 0, 0, 0.06));
                    position: relative;

					@include mixins.breakpoint (max-xxl){
						width: 30px;
						height: 30px;
						line-height: 30px;
					}

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 64px;
                        height: 64px;
                        content: "";
                        background-color: transparent;
                        border-radius: 50%;
                        border: 1px solid rgba(30, 32, 35, 0.10);
                        transform: translate(-50%,-50%);

						@include mixins.breakpoint (max-xxl){
							width: 54px;
							height: 54px;
						}
                    }
                }
        
                .content {
                    p {
                        color: variables.$text-color;
                        margin-bottom: 5px;
                        text-transform: capitalize;
                        font-size: 14px;
                        font-weight: 500;
                        opacity: 0.7;
                    }
        
                    h3 {
                        font-size: 20px;
                        color: variables.$title-color;
                        text-transform: initial;

						@include mixins.breakpoint (max-xxxl){
							font-size: 18px;
						}
        
                        a {
                            color: variables.$title-color;
                        }
                    }
                }

                &.style-2 {
                    border: none;
                    padding-right: 0;
                }
            }

			.header-button {
				.theme-btn {
					@include mixins.breakpoint (max-xxxl){
						font-size: 14px;
						padding: 24px 27px;
					}
				}
			}
        }
    }
}

.header-1 {

	.mega-menu-wrapper{ 
		padding: 0 50px;
		position: relative;
		z-index: 1;    
		background-image: url(../img/bg/headerBg.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@include mixins.breakpoint (max-xxxl) { 
			background-color: variables.$title-color;
			background-image: none;
		}
		@include mixins.breakpoint (max-xl) { 
			background-color: variables.$white;
			background-image: none;
		}
		@include mixins.breakpoint (max-md) {
			padding: 0 8px;
		}

		@media (min-width: 2000px) { 
			background-image: none;
			background-color: variables.$title-color;
		}
	}
    .logo {
        display: none;
    }

	.header-main { 
		.main-menu {
			ul {
				li {
 
					@include mixins.breakpoint (max-xxl){
						margin-inline-end: 10px;
					} 

					.has-homemenu {
						@include mixins.breakpoint (max-xl4){
							left: -454px;
						}
					}
				}
			}
		}
	}

	&.sticky {
		.mega-menu-wrapper{ 
			padding: 0 50px;
			position: relative;
			z-index: 1;    
			background-image: url(../img/bg/headerBg.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
	
			@include mixins.breakpoint (max-xxxl) { 
				background-color: variables.$title-color;
				background-image: none;
			} 
	
			@media (min-width: 2000px) { 
				background-image: none;
				background-color: variables.$white;
			}
		}
	}

	.theme-btn {
		@include mixins.breakpoint (max-xxxl){
			display: none;
		}
	}
}

.header-2 {
	
	.mega-menu-wrapper{ 
		padding: 0 50px;
		position: relative;
		z-index: 1;     
		@include mixins.breakpoint (max-xxxl) { 
			background-color: variables.$title-color;
			background-image: none;
		}
		@include mixins.breakpoint (max-xl) {  
			background-image: none;
		}
		@include mixins.breakpoint (max-lg) {
			padding: 0 13px;
		}
	}
    .logo {
        display: none;
    }

	.header-main {  
	  padding: 10px 0 0 50px;
		.main-menu {
			ul {
				li {
 
					@include mixins.breakpoint (max-xxl){
						margin-inline-end: 10px;
					} 

					.has-homemenu {
						@include mixins.breakpoint (max-xl4){
							left: -50px;
						}
					}

					a { 
						color: variables.$title-color; 

						@include mixins.breakpoint (max-xl4) {
							color: variables.$white;
						}
					}
				}
			}
		} 

		@include mixins.breakpoint (max-xxl) {
			padding: 10px 0;
		}
	}

	.theme-btn {
		@include mixins.breakpoint (max-xxxl){
			display: none;
		}
	}
}

.header-3 {

	&.sticky { 
		right: 0;
	}

	.mega-menu-wrapper{ 
		padding: 0 50px;
		position: relative;
		z-index: 1;     
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@include mixins.breakpoint (max-xxxl) { 
			background-color: transparent;
			background-image: none;
		}
		@include mixins.breakpoint (max-xl) { 
			background-color: transparent;
			background-image: none;
		}
		@include mixins.breakpoint (max-md) {
			padding: 0 13px;
		}
	}
    .logo {
        display: none;
    }

	.header-main { 
		.main-menu {
			ul {
				li {
 
					@include mixins.breakpoint (max-xxl){
						margin-inline-end: 10px;
					} 

					.has-homemenu {
						@include mixins.breakpoint (max-xl4){
							left: -50px;
						}
					}
				}
			}
		}
	}
}
//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include mixins.breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// justify-content: flex-end;
	padding: 22px 0;

	.header-left {
    width: 73%;
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}
	
	.main-menu {
		ul {
			margin-bottom: 0;
			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 40px;

				@include mixins.breakpoint (max-xxxl) {
					margin-inline-end: 25px;
				}
	
			&:last-child {
				margin-inline-end: 15px;
			}
	
			a {
				display: inline-block;
				font-size: 17px;
				font-weight: 600;
				color:  variables.$white;
				// padding: 20px 0;
				padding: 0px 0;
				text-align: left;
				position: relative;
				text-transform: capitalize;
				@include mixins.transition;

				i {
					margin-left: 7px;
				}
	
				&:hover {
					color: variables.$theme-color !important;
				}

				@include mixins.breakpoint (max-xl4) {
					color: variables.$white;
				}
	
			}
			.submenu {
				position: absolute;
				top: 206%;
				inset-inline-start: 0;
				min-width: 240px;
				background: variables.$white;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: variables.$title-color;
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				transform: translateY(10px);
				@include mixins.transition;

				li {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
	
					a {
						position: relative;
						z-index: 11;
						font-size: 17px;
						font-weight: 600;
						color: variables.$title-color;
						// padding: 0 25px;
						// padding-bottom: 11px;
						// padding-top: 11px;
						width: 100%;
						border-bottom: 1px solid #eeeeee;

						&:hover {
							color: variables.$theme-color !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							background: variables.$theme-color;
							color: variables.$white !important;

							&::after {
								color: variables.$theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: variables.$theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 1000px;
    			// height: 770px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -250px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				.theme-btn{
					width: 230px;
					padding: 15px 38px;
					// font-size: 17px;
				}

				.mega-menu-box{

					@media (min-width: 1200px) {
							margin-bottom: 25px;
						}

					.mega-menu-media{

						@media (min-width: 768px) {
						display: table;
							width: 100%;
						}

						.mega-menu-media-img{

							@media (min-width: 768px) {
							display: table-cell;
							width: 120px;
							vertical-align: top;
						  }

						  .mega-menu-thumbnail:hover > a::before {
    background-color: rgba(0, 0, 0, 0.2);
}
						  .mega-menu-thumbnail{

							@media (min-width: 768px) {
									margin-bottom: 0;	
								}

								a {
									position: relative;
									display: block;
								
									::before {
										position: absolute;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										content: "";
										background-color: rgba(0, 0, 0, 0);
										transition: background-color 0.2s 
									ease-in-out;
									}

								}

						  }
						}
						.mega-menu-media-info{
							display: table-cell;
							padding-left: 20px;
							vertical-align: top;
							
							.mega-menu-heading{
								    font-size: 18px;
									color: #212121;
									text-transform: uppercase;
									margin-bottom: 10px;

									a{
										color: #212121;
										text-decoration: none;
										transition: color 0.2s ease-in-out;
									}
							}

							.mega-menu-desc{
								color: #666;
								font-size: 15px;
								line-height: 1.5;
							}
						}
					}
				}

				.homemenu-items {
					@include mixins.flex;
					gap: 30px;
					justify-content: space-between;

					@include mixins.breakpoint (max-lg){
						flex-wrap: wrap;
					}

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
	
							.demo-button {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 70%;
								gap: 10px;
								display: flex;
								justify-content: center;
								flex-direction: column;
								opacity: 0;
								visibility: hidden;
								@include mixins.transition;
								margin-top: 20px;
	
								.theme-btn {
									padding: 10px 20px;
									color: variables.$white !important;
									width: initial;
									font-size: 14px;
									text-align: center;
									border-radius: 0px !important;
									background-color: variables.$theme-color;
	
									&:hover {
										color: variables.$white !important;
										background-color: variables.$title-color;
										
										&::before {
											background-color: variables.$theme-color-2;
										}
																				
										&::after {
											background-color: variables.$theme-color-2;
										}
									}
								}
							}
	
							&::before {
								background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 16px;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  variables.$theme-color;
					&::after {
						color:  variables.$title-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 30px;

		@include mixins.breakpoint (max-xxl){
			gap: 20px;
		}
		
		@include mixins.breakpoint (max-md) {
			gap: 5px; 
			.theme-btn {
				display: none;
			} 
				
		}

        .search-icon {
            color: variables.$text-color;
            font-size: 18px;
        }


		.header__cart {
            padding: 0 8px;
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            @include mixins.breakpoint (max-lg) {
                padding: 0px 10px;
            }
            &:hover {
                >a {
                    color: variables.$theme-color-2;
                }
                .header__right__dropdown__wrapper {
                    visibility: visible;
                    opacity: 1;
                    top: 100%;
                    transition: .3s;
                }
            }
            >a {
                font-size: 18px;
                color: variables.$text-color;
				padding: 15px 0;
                position: relative;
                &::before {
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 15px;
                    position: absolute;
                    top: 0;
                    right: -10px;
                    width: 15px;
                    height: 15px;
                    padding: 0 4px;
                    content: "3";
                    text-align: center;
                    border-radius: 100%;
                    background: variables.$theme-color-2;
                    color: variables.$white;
                   @include mixins.breakpoint (max-lg) {
                        top: 7px;
                        right: 11px;
                    }
                }
            }
            .header__right__dropdown__wrapper {
                position: absolute;
                width: 300px;
                max-height: 700px;
                padding: 20px;
                border-bottom: 3px solid variables.$border-color;
                background-color: variables.$white;
                box-shadow: 0 0 50px 10px rgba(95, 45, 237, 0.15);
                top: 100%;
                left: -235px;
                opacity: 0;
                visibility: hidden;
                z-index: 999; 

				@include mixins.breakpoint (max-md) {
					left: -220px;
				}

                .header__right__dropdown__close {
                    position: absolute;
                    right: 0;
                    top: -10px;
                    a {
                         :hover {
                            color: variables.$theme-color-2;
                        }
                    }
                }
                .header__right__dropdown__inner {
                    border-bottom: 1px solid variables.$border-color-2;
                    margin-bottom: 30px;
                    .single__header__right__dropdown {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        position: relative;
                        .header__right__dropdown__img {
                            width: 30%; 
                            a {
                                border: 1px solid variables.$border-color;
                                display: inline-block;
								border-radius: 16px;
								-webkit-border-radius: 16px;
								-moz-border-radius: 16px;
								-ms-border-radius: 16px;
								-o-border-radius: 16px;
                            }
                            img {
                                width: 100%;
								border-radius: 16px;
								-webkit-border-radius: 16px;
								-moz-border-radius: 16px;
								-ms-border-radius: 16px;
								-o-border-radius: 16px;
                            }

}
                        .header__right__dropdown__content {
                            text-align: left;
                            width: 70%;
                            margin-left: 15px;
                            a {
                                font-size: 14px;
								font-weight: 600;
                                line-height: 20px;
                                color: variables.$title-color;
                                &:hover {
                                    color: variables.$theme-color-2;
                                }
                            }
                            p {
                                color: variables.$title-color;
                                font-size: 14px;
                                span {
                                    color: variables.$theme-color-2;
                                }
                            }
                        }
                    }
                }
                .dropdown__price {
                    text-align: left;
                    font-size: 17px;
                    margin-bottom: 20px;
                    span {
                        float: right;
                        color: variables.$theme-color-2;
                        font-weight: 700;
                    }
                }
                .header__right__dropdown__button {
                    a {
                        display: block;
                        font-size: 14px;
                        font-weight: 700;
                        text-align: center;
                        width: 100%;
                        padding: 10px 0px;
                        &.white__color {
                            border: 1px solid variables.$theme-color-2;
                            margin-bottom: 20px;
                            &:hover {
                                background: variables.$theme-color-2;
                                color: variables.$white;
                            }
                        }
                        &.blue__color {
                            background: variables.$title-color;
                            color: variables.$white;
                            &:hover {
                                background: variables.$theme-color-2;
                            }
                        }
                    }
                }
            }
        }
	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
        color: variables.$text-color;
	}
}

//>>>>> Header 01 Start <<<<<//

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.9s;
	background-color: variables.$white;
	box-shadow: variables.$shadow;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;

	.logo-image {
		img {
			width: 70%;
		}
	}

    &.header-1 {
        padding: 0 40px;
		 .mega-menu-wrapper {
			padding: 0 50px;
			position: relative;
			z-index: 1;
			background-image: none;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			@include mixins.breakpoint (max-xxxl) {
				padding: 0 20px; 
				background-color: variables.$white;
				background-image: none;
			}
		}

        .logo {
			width: 70px;
            display: block;
			position: relative;
			
			.hours24 {
				position: absolute;
				top: 0%;
				left: -111%;
				width: 80px;
				
				img{
					width: 100%;
					object-fit: cover;
				}
				@media (max-width: 992px) {
					    top: -45% !important;
					left: 100% !important;
				}
			}
			a {
				img{
					width: 100%;
				}
			}
        }

		@include mixins.breakpoint (max-sm) {
			padding: 0;
		}
    }

    &.header-2 {
        padding: 0 40px;
		 .mega-menu-wrapper {
			padding: 0 50px;
			position: relative;
			z-index: 1;
			background-image: none;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			@include mixins.breakpoint (max-xxxl) {
				padding: 0 20px; 
				background-color: variables.$white;
				background-image: none;
			}
			@include mixins.breakpoint (max-xl) {
				padding: 0 5px;  
			}
		}

		.header-main {
			padding: 15px 0;
		}

        .logo {
            display: block;
        }

		@include mixins.breakpoint (max-sm) {
			padding: 0;
		}
    }

	.header-main .main-menu ul li a { 
		color: variables.$title-color; 
	}
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: variables.$white none repeat scroll 0 0;
	border-left: 2px solid  variables.$theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 1040;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__logo {
	a {
		img {
			width: 80px;
		}
	}
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		.text {
			color: variables.$text-color;
		}


		.offcanvas-gallery-area {
			margin-top: 30px;
			.offcanvas-gallery-items {
				display: flex;
				align-items: center;
				gap: 20px;
				&:not(:last-child) {
					margin-bottom: 20px;
				}

				.offcanvas-image {
					width: 100px;
					height: 100px;
					overflow: hidden;
					border-radius: 10px;
				}
			}
		}
 
		.offcanvas__close {
			width: 40px;
			height: 40px;
			line-height: 41px;
			text-align: center;
			border-radius: 50%;
			background-color: var(--theme);
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: variables.$white;
			}
		}

		.menu_ber{
			margin-top: 30px;
			.main_menu {
					display: flex;				;
					flex-direction: column;
					gap: 20px;

					.subMenu_parent {

						.singleMenu_link{
							display: flex;
							justify-content: space-between;
							align-items: center;
							font-size: 17px;
							font-weight: 600;
						}
						.subMenu{
							display: none;
							.singleMenu_link{
								padding: 10px 10px;
							}
							  transition: all 0.3s ease-in-out;
						}

						&:hover{
							.subMenu{
							display: block;

							}
						}
					}
					a {
						border-bottom: 1px solid #373737;
						padding-bottom: 10px;
					}
				}


				@media (min-width: 1200px) {
					display: none;
				}

		}

		.offcanvas__contact {
			margin-top: 20px;

			ul {
				margin-top: 20px;

				li {
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;

					a {
						color: variables.$text-color;
					}

					&:not(:last-child){
						margin-bottom: 15px;
					}

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: variables.$theme-color;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				
				.theme-btn {
					width: 100%;
					padding: 16px 40px;
					text-transform: capitalize !important;
				}
			}

			.social-icon {
                margin-top: 30px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: transparent;
                    color: variables.$text-color;
                    border-radius: 50%;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
                    border: 1px solid variables.$border-color;

                    &:hover {
                        background-color: variables.$theme-color;
                        color: variables.$white!important;
                    }
                }
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}


//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper{
	position: relative;
	overflow: hidden;
	z-index: 9;
	padding-top: 190px;
	padding-bottom: 50px;

	@include mixins.breakpoint (max-xl){
		padding-top: 80px;
	}

	@include mixins.breakpoint (max-lg){
		padding-top: 160px;
		padding-bottom: 0;
	}

	&::before {
		@include mixins.before;
		z-index: -1;
		opacity: 0.85;
		background: variables.$title-color;
	}

	.shape-image  {
		position: absolute;
		right: 0;
		bottom: 10%;

		@include mixins.breakpoint (max-lg){
			display: none;
		}
	}

	.page-heading{
		
		h1 {
			color: variables.$white;
			font-size: 74px;
			position: relative;
			z-index: 9;
			text-transform: uppercase;

			@include mixins.breakpoint(max-lg){
				font-size: 60px;
			}

			@include mixins.breakpoint(max-sm){
				font-size: 42px;
			}
		}

		.breadcrumb-items {
			@include mixins.flex;
			margin-top: 20px;
			gap: 10px;

			@include mixins.breakpoint (max-sm){
				margin-top: 15px;
			}
			
			li{
				color: variables.$theme-color;
				text-transform: capitalize;
				font-weight: 500;
				font-size: 18px;
	
				a {
					color: variables.$white;				;
					@include mixins.transition;
	
					&:hover{
						color: variables.$theme-color;
					}
				}
	
				i {
					color: variables.$white;
                    opacity: .8;
				}
			}
		}
	}

	.breadcrumb-wrapper-items {
		@include mixins.flex;
		justify-content: space-between;

		@include mixins.breakpoint (max-lg){
			flex-wrap: wrap;
		}

		.breadcrumb-image {
			position: relative;
			height: 380px;
			margin-bottom: -50px;

			@include mixins.breakpoint (max-lg){
				margin-bottom: 0;

				img {
					@include mixins.imgw;
				}
			}

			.bar-shape {
				position: absolute;
				top: -60px;
				bottom: 0;
				left: -27%;
				z-index: -1;

				@include mixins.breakpoint (max-lg){
					display: none;
				}
			}

			img {
				@include mixins.imgw;
				object-fit: cover;
			}
		}
	}
}


.error-items {
	text-align: center;

	.error-image {
		max-width: 896px;
		margin: 0 auto 50px;
		text-align: center;

		img {
			@include mixins.imgw;
		}
	}

	h2 {
		margin-bottom: 15px;
		font-size: 60px;
		font-weight: 600;

		b {
			color: variables.$theme-color;
			font-weight: 400;
		}
	}

	p {
		font-size: 18px;
		margin-bottom: 30px;
	}
}