@use "mixins";
@use "variables";


.food-menu-section{

     position: relative;
        .shape1 {
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: 1;
}
.shape2 {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
}
}

.food-menu-wrapper {

    &.style2 {
        background-color: variables.$white;
    }

}

.food-menu-section  {
    position: relative;

    .burger-shape {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include mixins.breakpoint (max-xl){
            display: none;
        }
    }

    .fry-shape {
        position: absolute;
        top: 45%;
        right: 0;
        transform: translateY(-50%);

        @include mixins.breakpoint (max-xl){
            display: none;
        }
    }
}

.food-menu-tab-wrapper {
    &.style-bg {
        // background-color: variables.$white;
        // border-radius: 20px;
        padding: 75px 130px;

        @include mixins.breakpoint (max-lg){
            padding: 60px 30px;
        }
    }
}

.food-menu-tab {
    // max-width: 1173px;
    // margin: 0 auto;

    ul {
        position: relative;
        .btn-wrap{

            .arrow-prev1 {
                position: absolute;
                top: 38%;
                left: -23%;
                transform: translate(-12%, -55%);
                -webkit-transform: translate(-12%, -55%);
                -moz-transform: translate(-12%, -55%);
                -ms-transform: translate(-12%, -55%);
                -o-transform: translate(-12%, -55%);

                i {
                    width: 56px;
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    background: transparent;
                    color: variables.$theme-color;
                    border: 1px solid variables.$theme-color;
                    border-radius: 50%;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    &:hover {
                        background: variables.$title-color;
                        color: variables.$white;
                        border: 1px solid variables.$title-color;
                    }
                }

                @include mixins.breakpoint (max-xxxl) {
                    display: none;
                }
            }

            .arrow-next1 {
                position: absolute;
                top: 40%;
                right: -23%;
                transform: translate(-12%, -55%);
                -webkit-transform: translate(-12%, -55%);
                -moz-transform: translate(-12%, -55%);
                -ms-transform: translate(-12%, -55%);
                -o-transform: translate(-12%, -55%);

                i {
                    width: 56px;
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    background: transparent;
                    color: variables.$theme-color;
                    border: 1px solid variables.$theme-color;
                    border-radius: 50%;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    &:hover {
                        background: variables.$white;
                        color: variables.$title-color;
                        border: 1px solid variables.$white;
                    }
                }

                @include mixins.breakpoint (max-xxxl) {
                    display: none;
                }
            }


        }
    }
    .nav-pills {
        justify-content: center;
        border-bottom: 1px solid variables.$border-color-2;
        padding-bottom: 30px;
        margin-top: 30px;
        
        width: 100%;
        margin: auto;
        
        // @media (min-width: 992px) {
        // width: 900px;
        // }

.foodMenu-slider {
    width: 631px;
}


        .nav-link {
            // padding: 5px 24px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
            color: variables.$title-color;
            font-family: variables.$title-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            // margin-right: 24px;
            margin-right: 0px;
            border-right: 1px dashed variables.$border-color-2;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;

            img {
                margin-right: 10px;
                margin-bottom: 20px;
            }

            &.active {
                color: variables.$theme-color;
                background-color: #cdccca45;
                box-shadow: 0px 1px 1px 0px #6c757d;
            }

            @include mixins.breakpoint (max-md) {
                border: 0;
            }
        }

    }

    .tab-content {
        margin-top: 36px;
    }

    &.style2 {
       padding: 0 120px;

       @include mixins.breakpoint (max-xxxl){
            padding: 0 70px;
       }

       @include mixins.breakpoint (max-xl){
            padding: 0 50px;
        }

       @include mixins.breakpoint (max-md){
            padding: 0 40px;
        }

        .nav-pills {
            justify-content: center;
            border-bottom: 0px;
            padding-bottom: 0px;
            margin-top: 30px;

            .nav-link {
                padding: 5px 24px 0px 0px;
                margin: 10px 0;
                color: variables.$title-color;
                font-family: variables.$title-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
                margin-right: 24px;
                border-right: 0px;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;

                img {
                    margin-right: 10px;
                }

                &.active {
                    color: variables.$theme-color-2;
                    background-color: transparent;
                }

                @include mixins.breakpoint (max-md) {
                    border: 0;
                }
            }

        }

        .tab-content {
            margin-top: 0px;
        }

        .single-menu-items {
            .details {
                .menu-content {
                    padding-bottom: 10px;
                    border-bottom: 1px solid variables.$border-color-2;

                    h3 {
                        color: variables.$title-color;
                        font-family: variables.$title-font;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 30px;
                        text-transform: capitalize;
                        margin-bottom: 5px;

                        &.active {
                            color: variables.$theme-color-2 !important;
                        }
                    }

                    p {
                        color: variables.$text-color;
                        font-family: variables.$body-font;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        max-width: 350px;
                    }

                }
            }
        }


    }
}

.single-menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
   
    @include mixins.breakpoint (max-xxl) {
        margin-top: 25px;
    }

    @include mixins.breakpoint (max-xxs) {
       flex-wrap: wrap;
       gap: 25px;
    }
    
    .details {
        display: flex;
        align-items: center;
        gap: 16px;

        .menu-content {
            h3 {
                color: variables.$title-color;
                font-family: variables.$title-font;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;
                text-transform: capitalize;
                margin-bottom: 0px;
                cursor: pointer;

                &.active {
                    color: variables.$theme-color !important;
                }

                @include mixins.breakpoint (max-xxl) {
                    font-size: 21px;
                    line-height: 30px;
                    margin-bottom: 0px;
                }
            }

            a {
                h3 {
                    color: variables.$title-color;
                    font-family: variables.$title-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 50px;
                    text-transform: capitalize;
                    margin-bottom: 0px;
                    
                @include mixins.breakpoint (max-xxl) {
                    font-size: 21px;
                    line-height: 30px;
                    margin-bottom: 0px;
                }
                }
            }

            p {
                color: variables.$text-color;
                font-family: variables.$body-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-top: -0.3em;
            }
        }
    }

    h6 {
        color: variables.$title-color;
        text-align: right;
        font-family: variables.$title-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }

}

.food-menu-tab-wrapper {
    &.style2 {
        background-color: variables.$white;
        margin-top: 40px;

        .nav-item {
            width: 100%;

            .single-menu-items {
                margin-top: 10px;

                .details {
                    .menu-content {
                        text-align: left;
                    }
                }
            }
        }

        .nav-pills .nav-link {
            width: 100%;
        }

        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: variables.$theme-color;
            background-color: transparent;

            .menu-content {
                h3 {
                    color: variables.$theme-color;
                }
            }
        }

        .menuthumb {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    &.style3 {
        position: relative;
        z-index: 1;

        .shape1 {
            position: absolute;
            top: 40px;
            left: 40px;
        }

        .shape2 {
            position: absolute;
            top: 73px;
            right: 20px;
        }

        .shape3 {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
}